.fileContainer{
    display: flex;
    border-style:solid;
    border-color: black;
}


input::file-selector-button{
background-color: aqua;
border-radius: 2px;
border-style: none;
outline: none;
width: 100px;
height: 35px;

}

.fPath {
    background-color: lightgrey;
    width: 100%;
}