body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.side-menu{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(39, 39, 39);
    width: 300px;
    min-width: 300px;
    position: relative;
    height: 100%;
    position: fixed;
    font-size: larger;
    border-color: rgb(54, 54, 54) ;
    border-style:solid;
    border-width: thin;
}

.side-menu-items{
    padding: 20px 0px 0px 25px;
}

li{
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}

.fa-house,.fa-brain, .fa-question{
    padding-right: 10px;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(54, 54, 54);
    height: 75px;
    align-items: center;
    font-size: 25px;
}

.header-icon{
    padding: 10px;
    color: whitesmoke;
}
