<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="Js/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/baffd7df9a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="side-menu">
    <div class="side-menu-items">
        <h1>CerebroScan</h1>
        <ul>
            <li><i class="fa-solid fa-house"></i>Dashboard</li>
            <li><i class="fa-solid fa-brain"></i>Model</li>
            <li><i class="fa-solid fa-question"></i>Support</li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="header">
        <div class="header-icon"><i class="fa-solid fa-user"></i></div>
        <div class="header-icon"><i class="fa-solid fa-gear"></i></div>
    </div>
    <div class="upload"></div>
    <div class="previous"></div>
</div>
</body>
</html>